.container{
    background-image: linear-gradient(to right,#2895f1,#0060b1);
    color: white;
    padding-top: 3%;
    width: 35%;
}

@media screen and (max-width: 578px){
    .container{
        width: 100%;

    }
    *{
        margin: 0px;
        padding: 0px;
    }
}