<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Company</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="../css/addcomp.css">
    <script type="text/javascript" src="../js/companylist.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul>
        <li class="nav-item">
            <a class="nav-link active" href="AddCompany.html">NEW COMPANY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Invoice.html">NEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">VIEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompanyList.html">VIEW COMPANY</a>
        </li>
    </ul>
</nav>

<div class="main">
    <div class="container-invoice">
        <form id="addPostForm" action="Invoice.html" method="post" enctype="multipart/form-data">
            <div id="company_title">
                <h1>Company Info Page</h1>
            </div>

            <label for="Cname">Company Name</label><br>
            <input type="text" id="Cname" name="cname" class="cname" size="50"><br>
            <span id="SpanCname" class="error"></span> <br>

            <label for="Address">Address</label><br>
            <input type="text" id="Address" name="address" class="address" size="50"><br>
            <span id="SpanAddress" class="error"></span> <br>

            <label for="City">City</label><br>
            <input type="text" id="City" name="city" class="city" size="50"><br>
            <span id="SpanCity" class="error"></span> <br>

            <label for="Email">Email</label><br>
            <input type="text" id="Email" name="email" class="email" size="50"><br>
            <span id="SpanEmail" class="error"></span> <br>

            <label for="Contact">Contact num</label><br>
            <input type="text" id="Contact" name="phone" class="phone" size="50"><br>
            <span id="SpanContact" class="error"></span><br>

            <label for="logo">Company Logo</label><br>
            <input type="file" name="logo" id="logo" onchange="ShowImage()">
            <div id="msg" role="alert" style="color: darkred;">
            </div>
            <img src="" height="200">
            <span id="spanImage" class="error"></span><br>
            <button class="btn btn-outline-info" type="submit" id="submit" name="submit">Submit</button>
        </form>
    </div>
</div>

<script>
    localStorage.setItem("CommonName", "http://localhost/api/")
    // let CommonName = localStorage.getItem("CommonName")

    function GeneralJquery(id) {
        let span_id = document.getElementById(`Span${id}`)
        $(`#${id}`).on("keyup paste", (function () {
            if (span_id.innerText === `${id} field is empty`.toUpperCase()) {
                span_id.innerText = ''
            }
        }))
    }

    GeneralJquery('Cname')
    GeneralJquery('Address')
    GeneralJquery('City')
    GeneralJquery('Contact')
    GeneralJquery('Email')


    $(document).ready(function () {
        $("#addPostForm").validate({
            rules: {
                cname: {
                    minlength: 3
                },
                address: {
                    minlength: 2
                },
                email: {
                    email: true
                },

                phone: {
                    minlength: 10
                }
            }
        })
    })

    function ValidateEmail() {
        let email = document.getElementById('Email')
        fetch(CommonName + "emailvalidate", {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: JSON.stringify({"email": email.value})
        }).then(res => res.json()).then(data => {
            document.getElementById('SpanEmail').innerText = data['Message']
        }).catch(err => console.log(err));
    }


    function GeneralValidation(id, spanid) {
        let span_id = document.getElementById(`Span${spanid}`)
        if (id.value === '') {
            span_id.innerText = `${spanid} field is empty`.toUpperCase()
            return false
        } else {
            span_id.innerText = ''
            return true
        }

    }

    document.getElementById('addPostForm').addEventListener('submit', function (e) {
        e.preventDefault()
        ValidateEmail()
        let vEmail
        if (document.getElementById('SpanEmail').innerText === "Email address already exists") {
            vEmail = false
        } else {
            vEmail = true
        }
        let name = document.getElementById('Cname')
        let address = document.getElementById('Address')
        let email = document.getElementById('Email')
        let city = document.getElementById('City')
        let phone = document.getElementById('Contact')
        console.log(document.querySelector('[type=file]').files.length)
        if (document.querySelector('[type=file]').files.length === 1) {
        const myPost = {
            email: email.value,
            name: name.value,
            address: address.value,
            contact: phone.value,
            city: city.value,
            file_name: document.querySelector('[type=file]').files[0]['name'],
            file_image: localStorage.getItem("preview")
        }

        let ValidateAddress = GeneralValidation(address, 'Address')
        let ValidateCity = GeneralValidation(city, 'City')
        let ValidateCname = GeneralValidation(name, 'Cname')
        let ValidateContact = GeneralValidation(phone, 'Contact')
        let EmailValidation = GeneralValidation(email, 'Email')

        if (ValidateAddress && ValidateCname && EmailValidation && ValidateCity && vEmail && ValidateContact && address.value.length > 2) {
            fetch(CommonName + "companycreate", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(myPost)
            }).then(res => res.json()).then(() => {
                alert("Your information has been saved")
                window.location.href = "Invoice.html"
            }).catch(err => console.log(err));
        }
    }
        else{
            let msg = document.getElementById('msg')
            msg.innerText = "Image field is empty".toUpperCase()

            let ValidateAddress = GeneralValidation(address, 'Address')
            let ValidateCity = GeneralValidation(city, 'City')
            let ValidateCname = GeneralValidation(name, 'Cname')
            let ValidateContact = GeneralValidation(phone, 'Contact')
            let EmailValidation = GeneralValidation(email, 'Email')
            ValidateAddress
            ValidateCity
            ValidateCname
            ValidateContact
            EmailValidation
        }
    })

    $("#Email").on("keyup keypress paste", function () {
        ValidateEmail()
    })

    function ShowImage() {
        const file = document.querySelector('[type=file]').files[0]
        const reader = new FileReader();
        const preview = document.querySelector('img');
        let file_ext = file['name'].split('.')[1].toLowerCase()
        let accepted_extension = ['jpg', 'jpeg', 'png']
        reader.addEventListener("load", function () {
            preview.style.width = "100%";
            preview.src = reader.result;
            localStorage.setItem("preview", preview.src)
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }

        let msg = document.getElementById('msg')

        if (!accepted_extension.includes(file_ext)) {

            msg.innerHTML = `.${file_ext} file is not accepted`
        }
        else{
            msg.innerHTML = " "
        }
    }


</script>
</body>
</html>
