<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../js/companylist.js"></script>
    <link rel="stylesheet" href="../css/addcomp.css">
</head>
<body>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit company details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input type="hidden" name="sno" id="sno" class="sno">
                    <div class="form-floating">
                        Company Name:<br> <input type="text" id="cname" name="cname" class="cname" size="50"
                                                 placeholder="Company Name"><br><br>
                        Address: <br><input type="text" id="company_address" name="address" class="address" size="50"
                                            placeholder="Address"><br><br>
                        City: <br><input type="text" id="company_city" name="city" class="city" size="50"
                                         placeholder="City"><br><br>
                        Email: <br><input type="text" id="company_email" name="email" class="email" size="50"
                                          placeholder="Email"><br><br>
                        Contact number: <br><input type="text" id="phone" name="phone" class="phone" size="50"
                                                   placeholder="Phone"><br><br>
                    </div>
                    <button type="button" id="submit" name="update" class="btn btn-primary submit"
                            onclick="UpdateCompany()">Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="AddCompany.html">NEW COMPANY</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Invoice.html">NEW INVOICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.html">VIEW INVOICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="CompanyList.html">VIEW COMPANY</a>
    </li>
</nav>
<br><br>


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" class="column_sort" id="id">SN</span></th>
        <th scope="col" class="column_sort" id="name">Name</span></th>
        <th scope="col" class="column_sort" id="address">Address</span></th>
        <th scope="col" class="column_sort" id="email">Email</span></th>
        <th scope="col" class="column_sort" id="contact">Contact</span></th>
        <th scope="col" class="column_sort">Actions</th>
    </tr>
    </thead>
    <tbody id="CompanyTable">
    </tbody>
</table>
<script>
    $('.column_sort').on('click', function () {
        $('.updown').remove()
        let column_name = $(this).attr('id')
        var order = localStorage.getItem('order')
        var arrow = ''
        if (order == 'desc' || order == undefined) {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-down"></span>'
            localStorage.setItem('order', 'asc')

        } else {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-up"></span>'
            localStorage.setItem('order', 'desc')
        }
        var namefield = ''
        namefield += $(this).html()
        namefield += arrow
        $(this).html(namefield)
        CompanyList(column_name, localStorage.getItem('order'))


    })

</script>
</body>
</html>