<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Details</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="AddCompany.html">NEW COMPANY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Invoice.html">NEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="index.html">VIEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompanyList.html">VIEW COMPANY</a>
        </li>
    </ul>
</nav>
<br><br>
<form class="d-flex" action="SearchCompany.html">
    <input class="form-control me-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" name="submit" value="submit">Search</button>
</form>
<br><br>

<nav aria-label="Page navigation example">
    <ul id="page" class="pagination"></ul>
</nav>
<div id="invoice_details">
    <table class="table table-hover" id="myTable">
        <thead>
        <tr>
            <th scope="col" class="page_sort" id="id">S No.</th>
            <th scope="col" class="page_sort" id="invoice">Invoice</th>
            <th scope="col" class="page_sort" id="name">Company</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="invoice_details_table"></tbody>
    </table>
</div>
<script>
    let page = document.getElementById('page')
    let TotalLength = localStorage.getItem("tt")
    NumOfPages = Math.ceil(TotalLength / 5)
    let op = ''
    for (let num = 1; num <= NumOfPages; num++) {
        op += `<li class="page-item"><a class="page-link" id="${num}" onclick="NewPage(${num},localStorage.getItem('column_name'),localStorage.getItem('order'))">${num}</a></li>`
    }
    page.innerHTML = op
    let InvoiceNum = localStorage.getItem("allIDs1")
    let SplitByComma = InvoiceNum.split(',')

    function NewPage(id, column_name, order) {
        localStorage.setItem("number", id)
        let Starting_Inv_ID = (id - 1) * 5
        let storedId = SplitByComma.sort((a, b) => a - b);
        fetch(CommonName + "invoicepages?offset=" + storedId[Starting_Inv_ID] + "&sort=" + column_name + "&order=" + order + "&limit=5").then(res => res.json()).then(data => {
            let tbody = document.getElementById("invoice_details_table")
            localStorage.setItem("total length1", data.data.length)
            let op = "<tr>"
            data.data.forEach(function (data, index) {
                op += `<th scope="row">${index + 1}</th>`
                op += `<td>InvoiceItem${data['id']}</td>`
                op += `<td>${data['cname']}</td>`
                op += `<td><a class="fa fa-eye" href="preview.html#${data['id']}" ></a> </td>`
                op += `<td><a class="fa fa-edit" href="update.html#${data['id']}" onclick="EditInvoice(${data['id']})" ></a> </td>`
                op += `<td><a class="fa fa-trash" onclick="DeleteInvoice(${data['id']})" ></a> </td>`
                op += "<tr>";
                tbody.innerHTML = op;
            })
        }).catch(err=>console.log(err))
    }



    $('.page_sort').on('click', function () {
        $('.updown').remove()
        let column_name = $(this).attr('id')
        console.log(column_name)
        localStorage.setItem('column_name', column_name)
        var order = localStorage.getItem('order')
        var arrow = ''
        if (order == 'desc' || order == undefined) {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-down"></span>'
            localStorage.setItem('order', 'asc')

        } else {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-up"></span>'
            localStorage.setItem('order', 'desc')
        }
        console.log(order)
        var namefield = ''
        namefield += $(this).html()
        namefield += arrow
        $(this).html(namefield)
        NewPage(localStorage.getItem("number"), column_name, order)
    })
    NewPage(localStorage.getItem("number"), localStorage.getItem('column_name'), localStorage.getItem('order'))

</script>
</body>
</html>