<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Invoice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/invoice1.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="AddCompany.html">NEW COMPANY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="Invoice.html">NEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">VIEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompanyList.html">VIEW COMPANY</a>
        </li>
    </ul>
</nav>
<br><br>
<div class="contain">
    <div id="invoice">
        <form id="AddForm" method="post">
            <div id="item-container">
            </div>
            <a id="add-new-item">Add new item</a>


        </form>
        <div id="items"></div>
        <label for="cost">Cost without discount</label><br>
        <input type="text" id="cost" name="cost" class="cost" readonly><br>

        <label for="discount">Discount in %</label><br>
        <input type="number" id="discount" name="discount" class="discountcost" size="50" value=10><br>

        <label for="tax">Tax %</label><br>
        <input type="number" id="tax" name="tax" class="tax" size="50" value=5><br>

        <label for="dcost">Cost with discount and tax</label><br>
        <input type="text" id="dcost" name="dcost" class="dcost" readonly><br>

        <label for="advance">Advance payment</label><br>
        <input type="text" id="advance" name="advance" class="advance" onkeypress="AdvanceValue()"
               onkeyup="AdvanceValue()" value="0"><br>

        <label for="due">Due amount</label><br>
        <input type="text" id="due" name="due" class="due"><br>

        <label for="company">Your company:</label>
        <select id="company"></select>
        <a class="new" href="AddCompany.html">Add new</a><br>


        <a class="btn btn-outline-info" type="button" id="submit" name="submit" onclick="CreateInvoice()">Submit</a>
    </div>
</div>
<script>
    let CommonName = localStorage.getItem("CommonName")
    let Increment = 1;
    document.getElementById('add-new-item').onclick = function () {
        let template = `
        <input type="text" id="iname" name="iname[]" placeholder="Item Name">
        <input type="number" id="unit_cost" name="cost[]" onkeypress="ItemValue()" onkeyup="ItemValue()"placeholder="Unit cost">
        <input type="number" id="quantity" name="qty[]" onkeypress="ItemValue()" onkeyup="ItemValue()"placeholder="Quantity">
        <button type="button" id="bt" onclick="return this.parentNode.remove();">Delete</button>`;
        let container = document.getElementById('item-container');
        let div = document.createElement('div');
        div.innerHTML = template;
        container.appendChild(div);
        Increment++;
    }

    function CreateInvoice() {
        let item = []
        let value = $('#AddForm').serialize()
        let ItemList = value.split('&')
        let AllItems = new Array()
        let ItemsJson = {}
        ItemList.forEach(function (data) {
            AllItems.push(data.split("=")[1])

        })
        for (let items = 0; items < AllItems.length; items++) {
            item.push({
                "name": AllItems[items],
                "cost": AllItems[items + 1],
                "quantity": AllItems[items + 2]
            })
            items = items + 2
            ItemsJson.item = item
        }

        localStorage.setItem("em", JSON.stringify(ItemsJson))
        let company = document.getElementById('company')
        let opt = company.options[company.selectedIndex];
        let cid = opt.value
        let CheckEmptyField;
        CheckEmptyField = false ? AllItems.includes("") : true


        if ($('#item-container').children().length !== 0 && CheckEmptyField === true) {
            fetch(CommonName+"invoicecreate", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    itemarray: ItemsJson,
                    company_id: cid,
                    advance: advance.value,
                    total: cost.value,
                    wdiscount: dcost.value,
                    due: due.value

                })


            }).then(res => res.json()).then(data => {
                localStorage.setItem("invoice_id", data['invoice_id'])
                alert("New invoice created")
                window.location.href = "preview.html#" + data['invoice_id']
            })


        } else {
            alert("Check itemlist")
        }

    }

    function AdvanceValue() {
        let due = document.getElementById('due')
        due.value = document.getElementById('dcost').value - document.getElementById('advance').value
    }

    function ItemValue() {
        let value = $('form').serialize()
        let ItemList = value.split("&")
        let AllItems = []
        ItemList.forEach(function (data) {
            AllItems.push(data.split("=")[1])
        })
        let totalamount = 0
        for (let index = 0; index < AllItems.length; index = index + 3) {
            totalamount += AllItems[index + 1] * AllItems[index + 2]
        }
        // TOTAL COST

        document.getElementById('cost').value = totalamount
        localStorage.setItem("totalamount", totalamount)


        // DISCOUNTED COST
        discount = document.getElementById('discount')
        tax = document.getElementById('tax')
        let discounted_price = (1 - (discount.value) / 100) * localStorage.getItem("totalamount")

        let tax_price = (1 + (tax.value) / 100) * discounted_price
        dcost.value = tax_price
        localStorage.setItem("discount", discount.value)
        localStorage.setItem("tax", tax.value)
        localStorage.setItem("dcost", discounted_price)
        localStorage.setItem("tcost", tax_price)

        // DUE AMOUNT
        let due = document.getElementById('due')
        due.value = document.getElementById('dcost').value - document.getElementById('advance').value
    }

    fetch(CommonName+"getcompany").then(res => res.json()).then(data => {
        data.data.forEach(function (data) {
            $('#company').append($('<option>', {

                value: data['id'],
                text: data['name']
            }));
        });
    });


    var ItemsJson = JSON.parse(localStorage.getItem("em"))
    let ItemArray = ItemsJson['item']
    let totalamount = 0
    ItemArray.forEach(function (data) {
        totalamount += data['cost'] * data['quantity']
    })
    localStorage.setItem("totalamount", totalamount)


    let discount = document.getElementById('discount')
    let tax = document.getElementById('tax')
    localStorage.setItem("discount", discount.value)
    localStorage.setItem("tax", tax.value)


    $("#company").click(function () {
        let company = document.getElementById('company')
        let opt = company.options[company.selectedIndex];
        localStorage.setItem("cid", opt.value)
    })


</script>

</body>
</html>