<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/preview.css">
    <script type="text/javascript" src="../js/preview.js"></script>
</head>
<body>

<div id="invoice">
    <div class="invoice overflow-auto">
        <div id="preview_table">
            <header>
                <div class="row">
                    <div class="col">
                        Company Logo
                    </div>
                    <div class="col company-details">
                        <h2 id="name"></h2>
                        <div id="address"></div>
                        <div id="contact"></div>
                        <div id="email"></div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-details">
                        <h1 id="invoice-id"></h1>
                        <div id="date">Date of Invoice:</div>
                        <div id="duedate">Due Date:</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th>SN.</th>
                        <th class="text-left">Items</th>
                        <th class="text-right">Unit cost</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">TOTAL</th>
                    </tr>
                    </thead>
                    <tbody id="preview"></tbody>

                    <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">SUBTOTAL</td>
                        <td id="total"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" id="discount"></td>
                        <td id="discounted_price"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" id="tax"></td>
                        <td id="tax_price"></td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">GRAND TOTAL</td>
                        <td id="grand_total"></td>
                    </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <div></div>
    </div>
</div>
<script>
    let discount = document.getElementById('discount')
    let discounted_price = document.getElementById('discounted_price')
    let tax = document.getElementById('tax')
    let tax_price = document.getElementById('tax_price')
    let grand_total = document.getElementById('grand_total')
    fetch(CommonName + "companylist?id=" + window.location.href.split("#")[1]).then(
        res => res.json()).then(data => {
        discount.innerHTML = "DISCOUNT " + 10 + "%"
        tax.innerHTML = "TAX " + 5 + "%"
        let discount_cost = (1 - 10 / 100) * data.data[0]['total_cost']
        discounted_price.innerText = discount_cost.toString()
        let tax_cost = (1 + 5 / 100) * discount_cost
        tax_price.innerText = tax_cost.toString()
        grand_total.innerText = tax_cost.toString()
    })

    let total = document.getElementById('total')

    fetch(CommonName + "companylist?id=" + window.location.href.split("#")[1]).then(res => res.json()).then(
        data => {
            let preview = document.getElementById('preview');
            let op = '<tr>'
            let total_cost = 0
            data.data.forEach((data, index) => {
                    op += `<td >${index + 1}</td>`
                    op += `<td >${data['item_name']}</td>`
                    op += `<td >${data['unit_cost']}</td>`
                    op += `<td >${data['quantity']}</td>`
                    let cost_item = data['unit_cost'] * data['quantity']
                    total_cost += data['unit_cost'] * data['quantity']
                    op += `<td >${cost_item}</td>`
                    op += `</tr>`
                    preview.innerHTML = op;
                    total.innerText = total_cost
                }
            )
        })
</script>
</body>
</html>

