<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/SearchCompany.css">
    <script type="text/javascript" src="../js/SearchCompany.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="AddCompany.html">NEW COMPANY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Invoice.html">NEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="index.html">VIEW INVOICE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="CompanyList.html">VIEW COMPANY</a>
        </li>
    </ul>
</nav>
<br><br>


<form class="d-flex" action="SearchCompany.html">
    <input class="form-control me-2" type="search" name="search" id="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" name="submit" value="submit">Submit</button>
</form>


<nav aria-label="Page navigation example">
    <ul id="page" class="pagination">


    </ul>
</nav>
<div id="result">
    <table class="table" id="myTable">
        <thead>
        <tr>
            <th scope="col" class="column_sort" id="id">S No.</th>
            <th scope="col" class="column_sort" id="invoice">Invoice</th>
            <th scope="col" class="column_sort" id="name">Company</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody id="invoice_details_table">
        </tbody>
    </table>
</div>
<script>
    // let page = document.getElementById('page')
    // let TotalLength = localStorage.getItem("SearchInvoiceID").split(",").length
    // numofPages = Math.ceil(TotalLength / 5)
    // let op = ''
    // for (let num = 1; num <= numofPages; num++) {
    //     op += `<li class="page-item"><a class="page-link" id="${num}" onclick="NewPage(${num})">${num}</a></li>`
    // }
    // page.innerHTML = op

    $('.column_sort').on('click', function () {
        $('.updown').remove()
        let column_name = $(this).attr('id')
        console.log(column_name)
        localStorage.setItem('column_name', column_name)
        var order = localStorage.getItem('order')
        var arrow = ''
        if (order == 'desc' || order == undefined) {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-down"></span>'
            localStorage.setItem('order', 'asc')

        } else {
            arrow = ''
            arrow = '<span class="updown fa fa-arrow-up"></span>'
            localStorage.setItem('order', 'desc')
        }
        console.log(order)
        var namefield = ''
        namefield += $(this).html()
        namefield += arrow
        $(this).html(namefield)
        SearchByCname(column_name, order)
    })
    SearchByCname(localStorage.getItem('column_name'), localStorage.getItem('order'))
</script>
</body>
</html>