<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Invoice</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/invoice1.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <li class="nav-item">
        <a class="nav-link" href="AddCompany.html">NEW COMPANY</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="Invoice.html">NEW INVOICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.html">VIEW INVOICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="CompanyList.html">VIEW COMPANY</a>
    </li>
</nav>
<br><br>
<div class="contain">
    <div id="invoice">
        <form method="post">
            <div id="item-container"></div>
            <a id="add-new-item">Add new item</a>
        </form>
        <div id="items"></div>
        <label for="cost">Cost without discount</label><br>
        <input type="text" id="cost" name="cost" class="cost" readonly><br>

        <label for="discount">Discount in %</label><br>
        <input type="number" id="discount" name="discount" class="discountcost" size="50" value=10><br>

        <label for="tax">Tax %</label><br>
        <input type="number" id="tax" name="tax" class="tax" size="50" value=5><br>

        <label for="discounted_cost">Cost with discount and tax</label><br>
        <input type="text" id="discounted_cost" name="discounted_cost" class="discounted_cost" readonly><br>

        <label for="advance">Advance payment</label><br>
        <input type="text" id="advance" name="advance" class="advance" onkeyup="AdvanceValue()" value="0"><br>

        <label for="due">Due amount</label><br>
        <input type="text" id="due" name="due" class="due"><br>

        <label for="company">Your company:</label>
        <select id="company"></select>
        <a class="new" href="addcompany.html">Add new</a><br>
        <a class="new" href="preview.html">Preview</a>

        <button class="btn btn-outline-info" type="submit" id="submit" name="submit" onclick="UpdateInvoice()">Update
        </button>
    </div>
</div>
<script>
    let CommonName = localStorage.getItem("CommonName")
    let increment = 1;
    document.getElementById('add-new-item').onclick = function () {
        let template = `
    <input type="hidden" id="itemid" name="itemid[]" value="">
    <input type="text" id="iname" name="iname[]" placeholder="Item Name">
    <input type="number" id="unit_cost" name="cost[]" onkeypress="ItemValue()" onkeyup="ItemValue()" placeholder="Unit cost">
    <input type="number" id="quantity" name="qty[]" onkeypress="ItemValue()" onkeyup="ItemValue()" placeholder="Quantity">
    <button type="button" class="fas fa-trash-alt" id="bt" onclick="return this.parentNode.remove();"></button>`;

        let container = document.getElementById('item-container');
        let div = document.createElement('div');
        div.innerHTML = template;
        container.appendChild(div);
        increment++;
    }

    let ItemJson = JSON.parse(localStorage.getItem("em"))
    let ItemArray = ItemJson['item']
    let totalamount = 0
    ItemArray.forEach(function (data) {
        totalamount += data['cost'] * data['quantity']
    })
    localStorage.setItem("totalamount", totalamount)
    $(document).ready(function () {
        $.get(CommonName+"getcompany", function (data) {
            data.data.forEach(function (data) {
                $('#company').append($('<option>', {
                    value: data['id'],
                    text: data['name']
                }));
            });
        });
    })


    function UpdateInvoice() {

        var item = []
        var value = $('form').serialize()
        var SplitResult = value.split('&')
        var ItemArray = []
        var ItemJson = {}
        SplitResult.forEach(function (data) {
            ItemArray.push(data.split("=")[1])
        })
        for (let index = 0; index < ItemArray.length; index++) {
            item.push({
                "invoice_id": window.location.href.split("#")[1],
                "id": ItemArray[index],
                "name": ItemArray[index + 1],
                "cost": ItemArray[index + 2],
                "quantity": ItemArray[index + 3]
            })
            index = index + 3
            ItemJson.item = item
        }
        let ItemNum = 0
        for (let index = 0; index < ItemArray.length; index++) {
            if (ItemArray[index] == "") {
                ItemNum = ItemNum + 1
            }
        }
        if ($('#item-container').children().length != 0 && ItemNum <= 1) {
            var advance = document.getElementById('advance')
            let discounted_cost = document.getElementById('discounted_cost')
            let due = document.getElementById('due')
            let total_cost = document.getElementById('cost')
            fetch(CommonName+"invoiceupdate", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    itemarray: ItemJson,
                    invoice_id: window.location.href.split("#")[1],
                    advance: advance.value,
                    total_cost: total_cost.value,
                    wdiscount: discounted_cost.value,
                    due: due.value
                })
            }).then(res => res.json()).then(data => {
                alert("Invoice updated")
                window.location.href = "index.html"
            })
        } else {
            alert("Check itemlist")
        }
    }


    fetch(window.CommonName+"companylist?id=" + window.location.href.split("#")[1]).then(res => res.json()).then(data => {

        let op = ""
        var ItemContainer = document.getElementById('item-container')
        data.data.forEach(function (data) {
            op += `<div>`
            op += `<input type="hidden" id="itemid" name="itemid[]" value="${data['item_id']}">`
            op += `<input type="text" id="iname" name="iname[]" value="${data['item_name']}" placeholder="Item Name">`
            op += `<input type="number" id="unit_cost" name="cost[]" value="${data['unit_cost']}" onkeypress="ItemValue()" onkeyup="ItemValue()" placeholder="Unit cost">`
            op += `<input type="number" id="quantity" name="qty[]" value="${data['quantity']}" onkeypress="ItemValue()" onkeyup="ItemValue()" placeholder="Quantity">`
            op += `<button type="button" class="fas fa-trash-alt" id="bt" onclick="return this.parentNode.remove();"></button>`
            op += `</div>`
            ItemContainer.innerHTML = op
        })
        document.getElementById('due').value = data.data[0]['due']
        document.getElementById('discounted_cost').value = data.data[0]['wdiscount']
        document.getElementById('cost').value = data.data[0]['total_cost']
        localStorage.setItem("cm", data.data[0]['company_name'])
        let advance = document.getElementById('advance')
        advance.value = data.data[0]['advance_payment']
        let company = document.getElementById('company')
        company.options[company.selectedIndex].text = localStorage.getItem("cm")
    })

    function ItemValue() {

        var value = $('form').serialize()
        var SplitResult = value.split("&")
        var ItemArray = []
        SplitResult.forEach(function (data) {
            ItemArray.push(data.split("=")[1])
        })
        let totalamount = 0
        for (let index = 0; index < ItemArray.length; index = index + 4) {
            totalamount += ItemArray[index + 2] * ItemArray[index + 3]
        }
        // TOTAL COST
        document.getElementById('cost').value = totalamount
        localStorage.setItem("totalamount", totalamount)
        // DISCOUNTED COST
        let discounted_cost = document.getElementById('discounted_cost')
        discount = document.getElementById('discount')
        tax = document.getElementById('tax')
        let discounted_price = (1 - (discount.value) / 100) * localStorage.getItem("totalamount")
        let tax_cost = (1 + (tax.value) / 100) * discounted_price
        discounted_cost.value = tax_cost
        localStorage.setItem("discount", discount.value)
        localStorage.setItem("tax", tax.value)
        localStorage.setItem("dcost", discounted_price)
        localStorage.setItem("tcost", tax_cost)
        // DUE AMOUNT
        let advance = document.getElementById('advance')
        let due = document.getElementById('due')
        localStorage.setItem("advance", advance.value)
        due.value = discounted_cost.value - localStorage.getItem("advance")
    }

    function AdvanceValue() {
        let due = document.getElementById('due')
        let discounted_cost = document.getElementById('discounted_cost')
        let advance = document.getElementById('advance')
        due.value = discounted_cost.value - advance.value
        due.value = discounted_cost.value - advance.value
    }
</script>
</body>
</html>